<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View a Book</title>
    <link rel="stylesheet" href="/styles/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <div class="row d-flex flex-nowrap">
            <div class="col-2">
                <img th:src="${book.coverUrl}" alt="Cover image">
            </div>
            <div class="col-10">
                <div class="row">
                    <div class="column">
                        <p>Title: <span th:text="${book.title}"></span></p>
                    </div>
                </div>
                <div class="row">
                    <div class="column">
                        <p>Description: <span th:text="${book.description}">
                        </span></p>
                    </div>
                </div>
                <div class="row">
                    <div class="column">
                        <p>Excerpt: <span th:text="${book.excerpts[0]}">
                        </span></p>
                    </div>
                </div>
                <div class="row">
                    <div class="column">
                        <p>Cached: <span th:text="${book.cached}"></span></p>
                    </div>
                </div>
                <div class="row">
                    <div class="column">
                        <a th:href="@{/}">Back</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>